In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("C:\\Users\\Karthik\\Downloads\\Dataset .csv")
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314.0
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591.0
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270.0
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365.0
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.58445,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.97739161,41.02279314,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788.0
9553,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.04129725,41.00984672,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034.0
9554,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.03464001,41.05581715,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661.0
9555,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4,Green,Very Good,901.0
9556,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.02601603,40.98477563,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4,Green,Very Good,591.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9557 non-null   object
 1   Restaurant Name       9557 non-null   object
 2   Country Code          9557 non-null   object
 3   City                  9557 non-null   object
 4   Address               9557 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   object
 8   Latitude              9551 non-null   object
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   object
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   object
 17  Aggregate rating      9549 non-null   object
 18  Rating color          9549 non-null   object
 19  Rating text           9547 non-null   object
 20  Votes                 9545 non-null   float64
dtypes: float64(1), object(20)
memory usage: 1.5+ MB

In [6]:
#LEVEL -----1
#TASK-------1

In [7]:
top_three_Cuisines=df['Cuisines'].value_counts().head(4)
print("The top three most common cuisines in the given dataset are:")
top_three_Cuisines

The top three most common cuisines in the given dataset are:

Cuisines
North Indian             936
North Indian, Chinese    511
Chinese                  354
Fast Food                354
Name: count, dtype: int64

In [8]:
# THE TOP THREE MOST COMMON CUISINES IN THE GIVEN DATASET ARE 
#1.NORTHINDIAN
#2.CHINESE
#3.FAST FOOD

In [9]:
#LEVEL-----1
# TASK-----2

In [10]:
#total no of restaurants
total_restaurants=len(df)
total_restaurants

9557

In [11]:
# splitting multiple cuisines into individual rows
Cuisines_series=df['Cuisines'].dropna().str.split(',').explode()
Cuisines_series

0                French
0              Japanese
0              Desserts
1              Japanese
2               Seafood
             ...
9553               Cafe
9554            Italian
9554      World Cuisine
9555    Restaurant Cafe
9556               Cafe
Name: Cuisines, Length: 19702, dtype: object

In [12]:
# finding count occurence of each cuisine serving each restaurant
Cuisine_counts=Cuisines_series.value_counts()
Cuisine_counts

Cuisines
North Indian      2990
 Chinese          1878
 Fast Food        1314
 North Indian      968
Chinese            855
                  ...
Patisserie           1
 D�_ner              1
Turkish Pizza        1
 B�_rek              1
 World Cuisine       1
Name: count, Length: 254, dtype: int64

In [13]:
top_Cuisines=Cuisine_counts.head(3)
top_Cuisines

Cuisines
North Indian    2990
 Chinese        1878
 Fast Food      1314
Name: count, dtype: int64

In [14]:
# calculating percentage
perce=(top_Cuisines/total_restaurants)*100
perce

Cuisines
North Indian    31.285968
 Chinese        19.650518
 Fast Food      13.749084
Name: count, dtype: float64

In [17]:
# Combine results
result = pd.DataFrame({
    
    'Restaurant_count':top_Cuisines.values,
    'Percentage (%)': perce
})

print(result)

              Restaurant_count  Percentage (%)
Cuisines
North Indian              2990       31.285968
 Chinese                  1878       19.650518
 Fast Food                1314       13.749084

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("C:\\Users\\Karthik\\Downloads\\Dataset .csv")

# Total number of restaurants
total_restaurants = len(df)

# Split multiple cuisines into individual entries
cuisines = df['Cuisines'].dropna().str.split(', ').explode()

# Count restaurants serving each cuisine
cuisine_counts = cuisines.value_counts()

# Select top 3 cuisines
top_cuisines = cuisine_counts.head(3)

# Calculate percentage of restaurants
percentage = (top_cuisines / total_restaurants) * 100

# Create final result
result = pd.DataFrame({
    'Cuisine': top_cuisines.index,
    'Restaurant Count': top_cuisines.values,
    'Percentage (%)': percentage.round(2).values
})

print(result)

        Cuisine  Restaurant Count  Percentage (%)
0  North Indian              3958           41.41
1       Chinese              2733           28.60
2     Fast Food              1984           20.76

In [ ]:
# The percentage of restaurants that serve each of the top cuisines are:
#         Cuisine  Restaurant Count  Percentage (%)
# 0  North Indian              3958           41.41
# 1       Chinese              2733           28.60
# 2     Fast Food              1984           20.76